<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

    <div class="upper">

        <div class="heading">
            <div class="s"><a>Welcome to,</a></div>
            <div class="d"><a> HIVE.</a></div>

            
            
        </div>
        <div class="des">
            <div class="desin">
                <a>Hive is website which provides Free E-books to every book worm out there.</a>

            </div>
        </div>

        <div class="but">
            <div class="button-box but1">
            <button class="twenty-one"><span><a href="signup">  Sign Up</a></span></button>
        </div>
        <div class="button-box but2">
            <button class="ten"><a href="signin"> Login</a></button>
        </div>
        </div>
        
    </div>

    <div class="footer">
        <div class="logoend">
            The Hive
        </div>
        <ul>
            <!-- <li>
                <a href="">Browse </a>
            </li> -->
            <!-- <li>
                <a href="#slider"> Home</a>
            </li> -->
            <!-- <li>
                <a href="">Help </a>
            </li>
            <li>
                <a href="">Support </a>
            </li> -->
            <!-- <li>
                <a href="feedback"> Feedback</a>
            </li> -->
            <li>
                <a href="dev"> Dev's </a>
            </li>
        </ul>

        <div class="socials">
            <div class="facebook"><a href="" class="fa fa-facebook"></a></div>
            <div class="twitter"><a href="" class="fa fa-twitter"></a></div>
            <div class="instagram"><a href="" class="fa fa-instagram"></a></div>
            <div class="google"><a href="" class="fa fa-google"></a> </div>
        </div>
    </div>
    
</body>
</html>