<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/ourteam.css' %}" />
    <title>Document</title>
  </head>

  <body>
    <div class="grid">
      <div class="card-container">
        {% comment %} <span class="pro">PRO</span> {% endcomment %}
        <div class="imag">
          <img class="round" src="{% static 'img/dum 2.jpg' %}" alt="user" />
        </div>
        <h3>Shah Aalam Khan</h3>
        <h6>COMPS</h6>
        <p>
          User Interface designer,<br />
          front-end and back-end developer
        </p>

        <div class="skills">
          <h6>Skills</h6>
          <ul>
            <li>UI / UX</li>
            <li>Front End Development</li>
            <li>Back End Development</li>
            <li>HTML</li>
            <li>CSS</li>
            <!-- <li>JavaScript</li> -->
          </ul>
        </div>
      </div>

      <div class="card-container">
        <!-- <span class="pro">PRO</span> -->
        <div class="imag">
          <img class="round" src="{% static 'img/dum 2.jpg' %}" alt="user" />
        </div>
        <h3>Dinesh Kharah</h3>
        <h6>COMPS</h6>
        <p>
          User Interface designer,<br />
          front-end and back-end developer
        </p>

        <div class="skills">
          <h6>Skills</h6>
          <ul>
            <li>UI / UX</li>
            <li>Front End Development</li>
            <li>Back End Development</li>
            <li>HTML</li>
            <li>CSS</li>
            <!-- <li>JavaScript</li> -->
          </ul>
        </div>
      </div>

      <div class="card-container">
        <!-- <span class="pro">PRO</span> -->
        <div class="imag">
          <img class="round" src="{% static 'img/dum 2.jpg' %}" alt="user" />
        </div>
        <h3>Umang Maurya</h3>
        <h6>COMPS</h6>
        <p>
          User Interface designer,<br />
          front-end and back-end developer
        </p>

        <div class="skills">
          <h6>Skills</h6>
          <ul>
            <li>UI / UX</li>
            <li>Front End Development</li>
            <li>Back End Development</li>
            <li>HTML</li>
            <li>CSS</li>
            <!-- <li>JavaScript</li> -->
          </ul>
        </div>
      </div>

      {% comment %}
      <div class="card-container">
        <span class="pro">PRO</span>
        <div class="imag">
          <img class="round" src="{% static 'img/dum 2.jpg' %}" alt="user" />
        </div>
        <h3>Aakash Singh</h3>
        <h6>COMPS</h6>
        <p>
          User Interface designer,<br />
          front-end and back-end developer
        </p>

        <div class="skills">
          <h6>Skills</h6>
          <ul>
            <li>UI / UX</li>
            <li>Front End Development</li>
            <li>Back End Development</li>
            <li>HTML</li>
            <li>CSS</li>
            <!-- <li>JavaScript</li> -->
          </ul>
        </div>
      </div>
      {% endcomment %} {% comment %}
      <div class="card-container">
        <!-- <span class="pro">PRO</span> -->
        <div class="imag">
          <img class="round" src="{% static 'img/dum 2.jpg' %}" alt="user" />
        </div>
        <h3>Amit Gupta</h3>
        <h6>COMPS</h6>
        <p>
          User Interface designer,<br />
          front-end and back-end developer
        </p>

        <div class="skills">
          <h6>Skills</h6>
          <ul>
            <li>UI / UX</li>
            <li>Front End Development</li>
            <li>Back End Development</li>
            <li>HTML</li>
            <li>CSS</li>
            <!-- <li>JavaScript</li> -->
          </ul>
        </div>
      </div>
      {% endcomment %} {% comment %}
      <div class="card-container">
        <!-- <span class="pro">PRO</span> -->
        <div class="imag">
          <img class="round" src="{% static 'img/dum 2.jpg' %}" alt="user" />
        </div>
        <h3>Rahul Chauhan</h3>
        <h6>COMPS</h6>
        <p>
          User Interface designer,<br />
          front-end and back-end developer
        </p>

        <div class="skills">
          <h6>Skills</h6>
          <ul>
            <li>UI / UX</li>
            <li>Front End Development</li>
            <li>Back End Development</li>
            <li>HTML</li>
            <li>CSS</li>
            <!-- <li>JavaScript</li> -->
          </ul>
        </div>
      </div>

      <div class="card-container">
        <!-- <span class="pro">PRO</span> -->
        <div class="imag">
          <img class="round" src="{% static 'img/dum 2.jpg' %}" alt="user" />
        </div>
        <h3>Tanay Agarwal</h3>
        <h6>COMPS</h6>
        <p>
          User Interface designer,<br />
          front-end and back-end developer
        </p>

        <div class="skills">
          <h6>Skills</h6>
          <ul>
            <li>UI / UX</li>
            <li>Front End Development</li>
            <li>Back End Development</li>
            <li>HTML</li>
            <li>CSS</li>
            <!-- <li>JavaScript</li> -->
          </ul>
        </div>
      </div>
      {% endcomment %}
    </div>
  </body>
</html>
