<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/reader.css' %}">
  </head>

  <body>
    <div class="imgbox">
      <img src="{% static 'img/t.jpg' %}">

    </div>

    <div class="title">Dream Psychology</div>

    <div class="sub">Sigmund Freud</div>

    <a href="pdf7">
      <div class="button">Read Now</div>
    </a>

    <div class="des">
      Dreams, in Freud's view, are all forms of "wish fulfillment" — attempts by
      the unconscious to resolve a conflict of some sort, whether something
      recent or something from the recesses of the past (later in Beyond the
      Pleasure Principle, Freud would discuss dreams which do not appear to be
      wish-fulfillment). Because the information in the unconscious is in an
      unruly and often disturbing form, a "censor" in the preconscious will not
      allow it to pass unaltered into the conscious. 
    </div>
  </body>
</html>
