<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap"
      rel="stylesheet"
    />
    <!-- <link rel="stylesheet" href="reader.css" /> -->
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/reader.css' %}">
  </head>

  <body>
    <div class="imgbox">
      <img src="{% static 'img/ab.jpg' %}">

    </div>

    <div class="title">Fellowship of the Ring</div>

    <div class="sub">J. R. R. Tolkien</div>

    <a href="pdf5">
      <div class="button">Read Now</div>
    </a>

    <div class="des">
      The Fellowship of the Ring is the first of the three volumes that comprise
      The Lord of the Rings novel. Set in a mythical universe of Middle-earth,
      this book continues in the same tone as The Hobbit. The Dark Lord, Sauron,
      is the Lord of the Rings, who is on a mission to reclaim the One Ring and
      use it to enslave all of Middle-earth.The Fellowship Of The Ring commences
      with a birthday party in Hobbiton. Bilbo Baggins, the current possessor of
      the Ring, turns 111 and bequeaths the ring to his cousin, Frodo Baggins.
       
    </div>
  </body>
</html>
