<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
   

    <section class="login">
        <div class="login_box">
          <div class="left">
            <div class="top_link"><a href="/home"><img src="" alt="">Return home</a></div>
            <div class="contact">
              <form action="signin" method="post">
                <h3>SIGN IN</h3>
                {% csrf_token %}
                <input type="text" name="username" placeholder="USERNAME">
                <input type="text" name="password" placeholder="PASSWORD">
                {% for message in messages %}
                <a> {{message}} </a>
                {% endfor %}
                <button type="submit">Sign in</button>
                
              </form>
            </div>
          </div>
          <div class="right">
            <div class="right-text">
              <h2>HIVE</h2>
              <h5></h5>
            </div>
            <div class="right-inductor"><img src="" alt=""></div>
          </div>
        </div>
      </section>



</body>
</html>